@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes scale-in {
    from {
      scale: (0.95);
    }
    to {
      scale: (1);
    }
  }

  --animate-fade-in: fade-in 0.6s ease-out forwards;
  --animate-scale-in: fade-in 0.4s ease-out forwards;

  @keyframes scroll-x {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(13% 0.028 261.692);
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: oklch(13% 0.028 261.692);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
